<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{load href="/static/js/vue.min.js"}
{load href="/static/js/vue-resource.min.js"}

</head>
<body>
   <div id="myApp">
       34343434
       <span v-on:click="get()">点击</span>
   </div>

   <div id="coursestat" style="display:none;">
       <style>
           .ui-dialog2{
               border-radius: 4px;
           }
       </style>
       <iframe id="coursestatiframe" src="/demo3" frameborder="0" width="1000" height="640"></iframe>
   </div>
</body>
<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
<link href="https://cdn.bootcss.com/layer/3.0.2/mobile/need/layer.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/layer/3.0.3/layer.min.js"></script>
<script src="/static/js/common2.js"></script>
<script type="text/javascript" >

   $(function () {
       parent.window.H.remove('coursestat');
       $('#coursestat',parent.window.document.body).remove();
       parent.window.H.create(new P({
           id:'coursestat',
           title:'',
           easy:true,
           content:$("#coursestat")[0]
       }),'common');
       parent.window.$("#coursestatiframe").attr("folderid",1);
       parent.window.$("#coursestatiframe").attr("foldername",2);
       parent.window.H.get('coursestat').exec('show');
   });

    var $data = new Vue({
        el:'#myApp',
        data:{

        },
        methods:{
            get:function () {
                console.log(1);
                Vue.http({'url':'http://www.baidu.com','method':'get'}).then(function ($r) {
                    console.log($r);
                })
            }
        }
    });
    Vue.http.jsonp('http://newzjdlr.ebh.net/aroomv3/student/getCreditCount.html?year=2017&quarter=0&p=1',{year:2017,quarter:0,p:1}).then(function ($r) {
        console.log($r);
    });
    setCookie('cookie',34343434);
    console.log(getCookie('cookie'));
    delCookie('cookie');
    console.log(getCookie('cookie'));
    //设置cookie
    function setCookie(name, value, expiredays) {
        var Days = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + expiredays*1000);
        document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
    }
    //读取cookies
    function getCookie(name){
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return (arr[2]);
        else
            return null;
    }

    //删除cookies
    function delCookie(name){
        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        var cval=getCookie(name);
        if(cval!=null)
            document.cookie= name + "="+cval+";expires="+exp.toGMTString();
    }

</script>
</html>