<div class="header-bj">

    <div class="header-top">
        <p>欢迎来到蛇之灵生物科技有限公司</p>
        <div class="weixin">
            <p>微信公众号</p>
            <div class="img"><img src="/static/index/base/image/weixin.jpg" alt=""></div>
        </div>
        <div class="tel">
            <p>资讯客服</p>
            <div class="telS">
                18839605215
            </div>
        </div>

    </div>


</div>

<!--   分割线  -->
<div class="clear"></div>
<div class="header-content">
    <div class="w1024">
        <div class="logo">
            <img src="/static/index/base/image/logo.png">
        </div>
        <!-- 分割线  -->
        <nav class="right">
            <ul>
                <li><a href="">首页</a></li>
                <li class="active"><a href="">关于我们</a>
                    <dl class="nav-list">
                        <dd><a href="">公司简介</a></dd>
                        <dd><a href="">公司简介</a></dd>
                    </dl>
                </li>
                <li><a href="">产品中心</a></li>
                <li><a href="">新闻资讯</a></li>
                <li><a href="">联系我们</a></li>
            </ul>
        </nav>

    </div>

</div>