<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>杭州富阳福根蛇业有限公司</title>
    <meta name="baidu-site-verification" content="rVxJP1YYVB" />
    <link rel="stylesheet" href="/static/index/base/css/style.css">
    <link rel="stylesheet" href="/static/index/base/css/header.css">
    <link rel="stylesheet" href="/static/index/base/css/footer.css">
    <link rel="stylesheet" href="/static/index/base/css/new-banner.css">
    <link rel="stylesheet" href="/static/index/css/banner.css">
    <link rel="stylesheet" href="/static/index/css/index.css">

    <script src="/static/index/base/js/jquery-3.2.1.min.js"></script>
    <script src="/static/index/base/js/header.js"></script>
    <script src="/static/index/js/banner.js"></script>
    <script src="/static/index/js/new-banner.js"></script>

</head>
<body>
<header>

    <div class="header-bj">

        <div class="header-top">
            <p>杭州富阳福根蛇业有限公司</p>
            <!--<div class="weixin">-->
            <!--<p>微信公众号</p>-->
            <!--<div class="img"><img src="/static/index/base/image/weixin.jpg" alt=""></div>-->
            <!--</div>-->
            <div class="tel">
                <p>资讯电话</p>
                <div class="telS">
                    0571-58977199<br/>
                    183-2918-0888
                </div>
            </div>

        </div>


    </div>

    <!--   分割线  -->
    <div class="clear"></div>
    <div class="header-content">
        <div class="w1024">
            <div class="logo">
                <img src="/static/index/base/image/logo.png">
            </div>
            <!-- 分割线  -->
            <nav class="right">
                <ul>
                    <li><a href="{:url('index/index')}" class="active">首页</a></li>
                    <li><a href="{:url('index/about')}">关于我们</a></li>
                    <li><a href="{:url('index/productlist')}">产品中心</a></li>
                    <li><a href="{:url('index/newslist')}">新闻资讯</a></li>
                    <li><a href="{:url('index/contact')}">联系我们</a></li>
                </ul>
            </nav>

        </div>

    </div>


</header><!-- JS 外部加载通用头显示  -->
<!--  stop  -->
<div class="clear"></div>

<!--banner start   -->

<div class="banner">
    <div class="w1024">
        <div id="banner">

            <div class="pic">
                <ul>
                    <li><a href=""><img src="/static/index/image/banner03.jpg"/></a></li>
                    <li><a href=""><img src="/static/index/image/banner01.jpg"/></a></li>
                    <li><a href=""><img src="/static/index/image/banner02.jpg"/></a></li>
                    <li><a href=""><img src="/static/index/image/banner03.jpg"/></a></li>
                    <li><a href=""><img src="/static/index/image/banner01.jpg"/></a></li>

                </ul>
            </div>

            <div class="tab">
                <ul>
                    <li class="on"></li>
                    <li></li>
                    <li></li>

                </ul>
            </div>

            <div class="btn">
                <div id="leftBtn">&lt;</div>
                <div id="rightBtn">&gt;</div>
            </div>

        </div>


    </div>

</div>
<!-- stop -->
<div class="clear"></div>
<!--  公司内容  start -->
<div class="company">
    <div class="w1024">
        <div class="brief">
            <p class="title">
                公司简介<span>Company Profile</span>
            </p>
            <p class="text">
                公司总经理蛇佬大12岁师从其父亲开始学习蛇医技术，孜孜不倦刻苦钻研5年后在充分掌握传统医学的基础上并有多项摸索，
                创新蛇医绝技冠绝方园百里，多年来利用其所学救死扶伤，以为百余名毒蛇咬伤患者和无数的皮肤病患者布药施治，让
                伤者摆脱死亡的威胁和病痛的折磨而重新投入生活工作。为蛇文化的赓续传承发展奠定了扎实的基础，并为发扬光大，
                蛇佬大继承父亲蛇医绝技衣钵的基础下，于2014年8月成立了杭州蛇佬大生态蛇基地，（这也就是公司的前身）
                基地从事五步蛇、蝮蛇、乌梢蛇、王锦蛇、银环蛇等蛇类的驯养繁殖、加工及蛇产品的深度开发展示,蛇类技术培训科普教育，
                以蛇为主题的休闲旅游、文化娱乐... ...

            </p>
            <a href="about.html">了解详情</a>
        </div>
        <!--  分割线  左右 -->
        <div class="culture">
            <div class="cul">
                <div class="culture-text">
                    <p class="title">企业文化</p>
                    <p class="text">精简、务实、高效<br>
                        打造创业平台
                    </p>
                </div>
                <img src="/static/index/image/01.png" alt="">
            </div>
            <!-- 分割线  上下 -->
            <div class="clear"></div>
            <div class="cul">

                <img src="/static/index/image/02.png" alt="">
                <div class="culture-text">
                    <p class="title red">蛇佬大</p>
                    <p class="text">公司创始人<br>
                        创新蛇医绝技冠绝
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- stop -->
<div class="clear"></div>
<!--  品种 推荐  -->
<div class="recommend">
    <div class="w1024">
        <div class="recommend-img">
            <div class="image-img">
                <a href="{:url('index/snakeVipe')}"> <img src="/static/index/snake/snake-vipe.jpg"></a>
            </div>
            <div class="recommend-title">
                <h3>五步蛇</h3>
                <a href=" " title=""></a>
            </div>
            <div class="recommend-content">

            </div>
        </div>
        <!-- 分割线 -->
        <div class="recommend-img">
            <div class="image-img">
                <a href="{:url('index/snakeAdder')}"><img src="/static/index/snake/snake-adder.jpg"></a>
            </div>
            <div class="recommend-title">
                <h3>蝮蛇</h3>
                <a href=" " title=""></a>
            </div>
            <div class="recommend-content">
                <div class="imagebox-desc">

                </div>
                <div class="imagebox-button">
                    <a href=" " title="">read more</a>
                </div>
            </div>
        </div>
        <!-- 分割线 -->
        <div class="recommend-img">
            <div class="image-img">
                <a href="{:url('index/snakeElapoid')}"><img src="/static/index/snake/snake-elapoid.jpg"></a>
            </div>
            <div class="recommend-title">
                <h3>眼镜蛇</h3>
            </div>
            <div class="recommend-content">

            </div>
        </div>
        <!-- 分割线 -->





    </div>

</div>

<!-- stop -->
<div class="clear"></div>



<!-- 产品中心   -->
<div class="product">
    <div class="w1041">
        <div class="product-title w1024">
            <p class="title">产品中心</p>
            <P class="text">Product Center</P>
        </div>
        <div class="product-list">
            <ul>
                <li>
                    <a href="https://www.fugensy.com/index/index/productlistdetails.html?id=7"><img src="/static/index/shopimage/01.jpg" alt="">
                        <P class="title">龙蝮涎</P>
                        <p class="text">看似眼镜状花纹，故名眼镜蛇。眼镜蛇的蛇肉可
                            食用，又可入药。有祛风、活血...</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.fugensy.com/index/index/productlistdetails.html?id=7"><img src="/static/index/shopimage/01.jpg" alt="">
                        <P class="title">龙蝮涎</P>
                        <p class="text">看似眼镜状花纹，故名眼镜蛇。眼镜蛇的蛇肉可
                            食用，又可入药。有祛风、活血...</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.fugensy.com/index/index/productlistdetails.html?id=7"><img src="/static/index/shopimage/01.jpg" alt="">
                        <P class="title">龙蝮涎</P>
                        <p class="text">看似眼镜状花纹，故名眼镜蛇。眼镜蛇的蛇肉可
                            食用，又可入药。有祛风、活血...</p>
                    </a>
                </li>


            </ul>
        </div>
        <!--  分割线 -->
        <div class="mone">
            <a href="{:url('index/productlist')}"> 查看更多产品</a>
        </div>
    </div>
</div>
<!--  stop -->
<div class="clear"></div>
<!-- 视频剪辑   -->
<div class="video">
    <div class="w1041">
        <div class="video-title w1024">
            <p class="title">视频剪辑</p>
            <P class="text">Video Clip</P>
        </div>
        <div class="video-list">
            <ul>
                <li>

                    <video source src="/static/index/videos/1.webm"   width="320" height="240" controls>
                    </video>
                    <P class="title">眼镜蛇</P>



                </li>
                <li>

                    <video source src="/static/index/videos/2.webm"   width="320" height="240" controls>
                    </video>
                        <P class="title">眼镜蛇</P>


                </li>
                <li>
                    <video source src="/static/index/videos/3.webm"   width="320" height="240" controls>
                    </video>
                        <P class="title">眼镜蛇</P>

                </li>


            </ul>
        </div>
        <!--  分割线 -->
        <div class="mone">
            <a href="{:url('index/productlist')}"> 查看更多视频</a>
        </div>
    </div>
</div>
<!--  stop -->
<div class="clear"></div>
<!--  news -->
<div class="news">
    <div class="w1024">
        <div class="news-title">
            <p class="title">新闻资讯</p>
            <p class="text">Product Center</p>
        </div>
        <!--  分割线 -->
        <div class="new-list">
            <ul>
                <li style="border-right: none;"><a href="javascript:;" onclick="getNews(2)" class="active">公司新闻</a></li>
                <li><a href="javascript:;" onclick="getNews(1)">行业新闻</a></li>
            </ul>
        </div>
        <!--  分割线  -->
        <div class="clear"></div>
        <div class="list-left">
            <ul id="news1" v-cloak="">

                <li v-for="(item , key) in lists">
                    <div class="list-content">
                        <div class="content-sz">
                            0{{key+1}}
                        </div>
                        <div class="title-text">
                            <p class="title"><a :href="'{:url('index/newsListDetails')}?id='+item.id">{{item.title}}</a></p>
                            <p class="text">{{item.commit}}</p>
                        </div>
                        <div class="time red">{{getTime(item.addtime)}}</div>

                    </div>
                </li>


            </ul>
            <!--  分割线  切换-->

        </div>
        <!-- 分割线 左右 -->
        <div class="list-img">


            <div id="banners">
                <div class="pics">
                    <ul>
                        <li style="display:block;"><a href=""><img src="/static/index/image/01.jpg"/></a></li>
                        <li><a href=""><img src="/static/index/image/02.jpg"/></a></li>
                        <li><a href=""><img src="/static/index/image/03.jpg"/></a></li>
                        <li><a href=""><img src="/static/index/image/04.jpg"/></a></li>
                        <li><a href=""><img src="/static/index/image/05.jpg"/></a></li>
                        <li><a href=""><img src="/static/index/image/06.jpg"/></a></li>
                    </ul>
                </div>

                <div class="tabs">
                    <ul>
                        <li class="ons">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                    </ul>
                </div>

                <div class="btns">
                    <div id="leftBtns">&lt;</div>
                    <div id="rightBtns">&gt;</div>
                </div>
            </div>


        </div>
    </div>
</div>
<!--  stop -->
<div class="clear"></div>
<!-- 友情链接  -->
<div class="link">
    <div class="w1024">
        <div class="link-title">
            <p>友情链接</p>
        </div>
        <div class="link-text">
            <a href="https://www.yyh1618.com/">亿耘灏资产管理有限公司</a>



        </div>
    </div>

</div>
<!--  通用尾 foot  -->
<div class="foot">
    <div class="w1024">
        <div class="foot-list">
            <dl class="nav">
                <dt>
                <p>关于我们</p></dt>
                <dd><a href="{:url('index/about')}">公司简介</a></dd>
                <dd><a href="{:url('index/aboutCulture')}">企业文化</a></dd>
                <dd><a href="{:url('index/aboutFuture')}">企业未来</a></dd>
            </dl>
            <!--  分割线 -->
            <dl class="nav">
                <dt>
                <p>产品中心</p></dt>
                <dd><a href="https://www.fugensy.com/index/index/productlist.html?cid=29">蛇酒</a></dd>
                <dd><a href="https://www.fugensy.com/index/index/productlist.html?cid=30">蛇油</a></dd>
            </dl>
            <!--  分割线 -->
            <dl class="nav">
                <dt>
                <p>企业动态</p></dt>
                <dd><a href="{:url('index/newsCompany')}">公司新闻</a></dd>
                <dd><a href="{:url('index/newsTrade')}">行业新闻</a></dd>
            </dl>
            <!--  分割线 -->
            <dl class="nav">
                <dt>
                <p>联系我们</p></dt>
                <dd><a href="{:url('index/contact')}">联系方式</a></dd>
                <dd><a href="{:url('index/contactMessage')}">在线留言</a></dd>
            </dl>
        </div>
        <div class="foot-tel">
            <div class="img"> <img src="/static/index/base/image/tel-foot.png"></div>
            <div class="time">
                <p class="title"> 客服中心热线</p>
                <p> 全国互动热线： 0571-58977199</p>
                <p> 服务时间：早上：8:00 --- 晚上：22:00</p>


            </div>
        </div>
    </div>
</div>
<!--  结尾 footer -->
<div class="footer">
    <div class="w1024">
        <P>版权所有 杭州富阳福根蛇业有限公司 浙ICP备17043650号</P>
        <P>网址 ：<a href="https://www.fugensy.com/">https://www.fugensy.com/</a></P>
    </div>
</div>
<link rel="stylesheet" href="/static/lib/layer/2.4/skin/layer.css">
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/js/vue.min.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
</body>
</html>