<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品中心-眼镜蛇</title>
    <link rel="stylesheet" href="/static/index/base/css/style.css">
    <link rel="stylesheet" href="/static/index/base/css/header.css">
    <link rel="stylesheet" href="/static/index/base/css/footer.css">


    <link rel="stylesheet" href="/static/index/css/snake.css">

    <script src="/static/index/base/js/jquery-3.2.1.min.js"></script>
    <script src="/static/index/base/js/header.js"></script>


</head>
<body>
<header>

    <div class="header-bj">

        <div class="header-top">
            <p>杭州富阳福根蛇业有限公司</p>
            <!--<div class="weixin">-->
            <!--<p>微信公众号</p>-->
            <!--<div class="img"><img src="/static/index/base/image/weixin.jpg" alt=""></div>-->
            <!--</div>-->
            <div class="tel">
                <p>资讯电话</p>
                <div class="telS">
                    0571-58977199<br/>
                    183-2918-0888
                </div>
            </div>

        </div>


    </div>

    <!--   分割线  -->
    <div class="clear"></div>
    <div class="header-content">
        <div class="w1024">
            <div class="logo">
                <a href="https://www.fugensy.com/"><img src="/static/index/base/image/logo.png"></a>
            </div>
            <!-- 分割线  -->
            <nav class="right">
                <ul>
                    <li><a href="{:url('index/index')}">首页</a></li>
                    <li><a href="{:url('index/about')}">关于我们</a></li>
                    <li><a href="{:url('index/productlist')}" class="active">产品中心</a></li>
                    <li><a href="{:url('index/newslist')}">新闻资讯</a></li>
                    <li><a href="{:url('index/contact')}">联系我们</a></li>
                </ul>
            </nav>

        </div>

    </div>


</header><!-- JS 外部加载通用头显示  -->
<!--  stop  -->
<div class="clear"></div>

<!--banner start   -->
<div class="banner">
    <div class="w1024">
        <div class="snake-banner">
            <img src="/static/index/image/product-banner.jpg">
        </div>
    </div>

</div>
<!-- stop -->
<div class="clear"></div>
<!-- 眼镜蛇   start -->
<div class="snake-content">
    <div class="snake-title">您当前的位置：<a href="https://www.fugensy.com/">首页</a> > <a>眼镜蛇</a></div>
    <div class="snake-details">
        <div class="snake-details-title">
            <h2>眼镜蛇</h2>
            <p>日期： <span>2017-09-25</span> 来源：<span>本站</span> 编辑人员：<span>admin</span></p>
        </div>
        <div class="snake-details-text">
            <img src="/static/index/snake/snake-elapoid01.jpg">
            <p>眼镜蛇（学名：Naja）为眼镜蛇属动物的通称，是眼镜蛇科的一属，其成员大多被统称为眼镜蛇。虽然世上也有不少其他蛇类的名字包含“眼镜蛇”(Cobra)一称（如眼镜王蛇、水眼镜蛇、唾蛇），但它们因演化亲缘性不足而并不归为此属。</p>
            <h3>形态特征:</h3>
            <p>眼镜蛇科主要特征：上颌骨较短，前端有沟牙，沟牙之后往往有1至数枚细牙，系前沟牙类毒蛇，毒液含神经毒为主。本科蛇类不爱活动，头部呈椭圆形，从外形看与无毒蛇不易区别。头背具有对称大鳞，无颊鳞。瞳孔圆形，尾圆柱状，整条脊柱均有椎体下突。中国只有4属8种左右，如银环蛇　、金环蛇、眼镜蛇、眼镜王蛇等主要剧毒蛇。</p>
            <p>剧毒蛇的颜色多种多样，从黑色或深棕色到浅黄白色。与无毒蛇不同，毒蛇的尖牙不能折叠，因而相对较小。多数眼镜蛇体形很大，可达1.2-2.5米长眼镜蛇毒液为高危性混合毒液。眼镜蛇最明显的特征是其颈部皮褶。该部位可以向外膨起用以威吓对手。眼镜蛇被激怒时，会将身体前段竖起，颈部皮褶两侧膨胀，此时背部的眼镜圈纹愈加明显，同时发出"呼呼"声，借以恐吓敌人。事实上很多蛇都可以或多或少的膨起颈部，而眼镜蛇只是更为典型而已。</p>
            <h3>生活习性:</h3>
            <p>眼镜蛇常喜欢生活在平原、丘陵、山区的灌木丛或竹林里，山坡坟堆、山脚水旁、溪水鱼塘边、田间、住宅附近也常见出现。该蛇食性很广，既吃蛇类、鱼类、蛙类，也食鸟类、蛋类、蝴蝎等。属昼行性蛇类，主要在白天外出活动觅食。</p>
            <p>眼镜蛇能耐高温，在35-38℃的炎热环境中照样不回避阳光，仍四处活动，但对低温的承受能力较差，冬季都喜集群冬眠，在气温低于9℃时易遭冻死。眼镜蛇有剧毒，若惹怒了会伤人，为我国的主要毒蛇之一。</p>
        </div>

    </div>

</div>
<!--  关于我们  start -->
<div class="about">

</div>
<!--  通用尾 foot  -->
<div class="foot">
    <div class="w1024">
        <div class="foot-list">
            <dl class="nav">
                <dt>
                <p>关于我们</p></dt>
                <dd><a href="{:url('index/about')}">公司简介</a></dd>
                <dd><a href="{:url('index/aboutCulture')}">企业文化</a></dd>
                <dd><a href="{:url('index/aboutFuture')}">企业未来</a></dd>
            </dl>
            <!--  分割线 -->
            <dl class="nav">
                <dt>
                <p>产品中心</p></dt>
                <dd><a href="https://www.fugensy.com/index/index/productlist.html?cid=29">蛇酒</a></dd>
                <dd><a href="https://www.fugensy.com/index/index/productlist.html?cid=30">蛇油</a></dd>
            </dl>
            <!--  分割线 -->
            <dl class="nav">
                <dt>
                <p>企业动态</p></dt>
                <dd><a href="{:url('index/newsCompany')}">公司新闻</a></dd>
                <dd><a href="{:url('index/newsTrade')}">行业新闻</a></dd>
            </dl>
            <!--  分割线 -->
            <dl class="nav">
                <dt>
                <p>联系我们</p></dt>
                <dd><a href="{:url('index/contact')}">联系方式</a></dd>
                <dd><a href="{:url('index/contactMessage')}">在线留言</a></dd>
            </dl>
        </div>
        <div class="foot-tel">
            <div class="img"> <img src="/static/index/base/image/tel-foot.png"></div>
            <div class="time">
                <p class="title"> 客服中心热线</p>
                <p> 全国互动热线： 0571-58977199</p>
                <p> 服务时间：早上：8:00 --- 晚上：22:00</p>


            </div>
        </div>
    </div>
</div>
<!--  结尾 footer -->
<div class="footer">
    <div class="w1024">
        <P>版权所有 杭州富阳福根蛇业有限公司 浙ICP备17043650号</P>
        <P>网址 ：<a href="https://www.fugensy.com/">https://www.fugensy.com/</a></P>
    </div>
</div>

</body>
</html>