<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui分页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {load file="__STATIC__/layui/layui.all.js"}
    {load file="__STATIC__/layui/css/layui.css"}
    {load file="__STATIC__/js/jquery-3.2.1.min.js"}
</head>
<body>
<div style="margin-bottom: 5px;">

    <!--&lt;!&ndash; 示例-970 &ndash;&gt;-->
    <!--<ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6111334333458862" data-ad-slot="3820120620"></ins>-->

</div>
<div class="searchDemo" style="margin-left: 5px">
    用户名：
    <div class="layui-inline">
        <input class="layui-input" name="username" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
    <div class="layui-btn-group demoTable">
        <button class="layui-btn" data-type="getCheckData">批量删除</button>
        <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
        <button class="layui-btn" data-type="isAll">验证是否全选</button>
    </div>
</div>

<!--<div class="layui-btn-group demoTable">-->
    <!--<button class="layui-btn" data-type="getCheckData">批量删除</button>-->
    <!--<button class="layui-btn" data-type="getCheckLength">获取选中数目</button>-->
    <!--<button class="layui-btn" data-type="isAll">验证是否全选</button>-->
<!--</div>-->
<table class="layui-hide" id="test" lay-filter="demo" lay-even="" lay-skin="row"></table>
<script type="text/html" id="barDemo">
    <!--<input type="checkbox"  name="status" value="{{d.status}}" title="锁定" lay-filter="lockDemo" {{ d.status == 0 ? 'checked' : '' }}>-->
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs"  lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="usernameTpl">
    <a href="user/{{d.uid}}" class="layui-table-link" target="_blank">{{ d.username }}</a>
</script>
<script type="text/html" id="switchTpl">
    <!--<input type="checkbox" name="sex" value="{{d.sex}}" lay-skin="switch" lay-text="女|男" lay-filter="sexDemo" {{ d.sex == 0 ? 'checked' : '' }}>-->
    {{#  if(d.sex === 1){ }}
    <span style="color: #F581B1;">女</span>
    {{#  } else { }}
    男
    {{#  } }}
</script>

<script type="text/html" id="checkboxTpl">
    <input type="checkbox"  name="status" value="{{d.status}}" title="锁定" lay-filter="lockDemo" {{ d.status == 0 ? 'checked' : '' }}>
</script>
<script>

    var table = layui.table;
    var form = layui.form;
    var tableData=null;
    var checkedArr=[];
    layer.load(0, {time: 1*500});//显示加载层 0 1 2 三种样式  500毫秒后自动关闭
    table.render({
        elem: '#test'
        // ,url:"{:url('v1.test/ajaxpage')}"//方法1
        ,url:"layui"//方法2 使用路由
        ,cellMinWidth: 80
        ,limit: 15// 默认每页20条
        ,limits:[15,30,50,100,200] //每页显示数 下拉列表
        // ,height: 'full-200'//高度最大适应化
        ,cols: [[
            // {type:'numbers'},
            {type:'checkbox'}
            ,{field:'uid', title: 'ID', sort: true}
            ,{field:'username', title: '用户名',templet: '#usernameTpl'}
            ,{field:'sex',  title: '性别', templet: '#switchTpl', unresize: true}
            ,{field:'realname', title: '真实姓名', event: 'setSign', style:'cursor: pointer',align:'center'}
            ,{field:'balance',  title: '账户余额', sort: true}
            ,{field:'status', title:'是否锁定',  templet: '#checkboxTpl', unresize: true}
            ,{field:'poperation',  title: '操作', fixed: 'right', toolbar: '#barDemo'}

        ]]
        ,page: true
        ,id :'searchReload'// 注意 这个id 类似于id选择器 是固定的写法
        ,done: function(res, curr, count){
            //如果是异步请求数据方式，res即为你接口返回的信息。
            //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
            // console.log(res.data);
            tableData = res.data;
            //得到当前页码
            // console.log(curr);

            //得到数据总量
            // console.log(count);
        }

    });
    //监听工具条
    table.on('tool(demo)', function(obj){
        var data = obj.data;
        if(obj.event === 'detail'){
            layer.open({
                type: 1,
                // closeBtn: true,
                title:'用户详情',
                closeBtn: 1,//0 不显示关闭按钮 1、2 两种样式
                // shift: 7,
                // maxmin: true,
                shadeClose: true,
                // area : ['500px', '60%'],
                area : '700px',//定宽度 高度自适应
                // btn: ['提交', '重置', '取消'],
                btn:['关闭'],
                content: '<div style="padding:0 8px"><table class="layui-table" lay-size="sm" >\n' +
                '  <tbody>\n' +
                '    <tr>\n' +
                '      <td>用户名</td>\n' +
                '      <td>' + data.username + '</td>\n' +
                '      <td>性别</td>\n' +
                '      <td>' + data.sex + '</td>\n' +
                '    </tr>\n' +
                '    <tr>\n' +
                '      <td>状态</td>\n' +
                '      <td>' + data.status + '</td>\n' +
                '      <td>账户余额</td>\n' +
                '      <td>' + data.balance + '</td>\n' +
                '    </tr>\n' +
                '  </tbody>\n' +
                '</table></div>'
            });
            // form.render();
            // layer.alert('查看：<br>'+ JSON.stringify(data));
            // layer.msg('ID：'+ data.uid + ' 的查看操作');
        } else if(obj.event === 'del'){
            layer.confirm('真的要删除吗?', function(index){
                $.ajax({
                    type:'DELETE',
                    url:'user',
                    data:{uids:data.uid},
                    success:function(res){
                        if(res.code==1){
                            layer.msg('删除成功');
                            obj.del();
                        }
                    }
                });
                layer.close(index);

            });
        } else if(obj.event === 'edit'){
            layer.open({
                type: 1,
                // closeBtn: true,
                title:'编辑用户',
                closeBtn: 1,//0 不显示关闭按钮 1、2 两种样式
                // shift: 7,
                maxmin: true,
                shadeClose: true,
                // area : ['500px', '60%'],
                area : '700px',//定宽度 高度自适应
                // btn: ['提交', '重置', '取消'],
                content: '<form class="layui-form" action="" lay-filter="example">' +
                '<div class="layui-form-item">' +
                '<label class="layui-form-label">真实姓名:</label>' +
                '<div class="layui-input-block">' +
                '<input type="text" name="realname" lay-verify="required" autocomplete="off" value="'+data.realname+'" placeholder="请输入真实姓名" class="layui-input" style="width: 95%">' +
                '</div>' +
                '</div>' +
                '<div class="layui-form-item">' +
                '<label class="layui-form-label">性别:</label>' +
                '<div class="layui-input-block">' +
                '<input type="radio" name="sex" value="0" title="男" >' +
                '<input type="radio" name="sex" value="1" title="女" >' +
                '</div>' +
                '</div>' +
                '<div class="layui-form-item layui-form-text">' +
                '<label class="layui-form-label">账户余额:</label>' +
                '<div class="layui-input-block">' +
                ' <textarea name="balance" placeholder="请输入内容" lay-verify="required" lay- class="layui-textarea" style="width: 95%">'+data.balance+'</textarea>' +
                '</div>' +
                '</div>' +
                '<div class="layui-form-item">' +
                '<div class="layui-input-block">' +
                '<input hidden name="uid" value="'+data.uid+'">'+
                '<button class="layui-btn" lay-submit="" lay-filter="editSubmit">立即修改</button>' +
                '<button type="reset" class="layui-btn layui-btn-primary">重置</button>' +
                '</div>' +
                '</div>' +
                '</form>'


            });
            var sex = data.sex;
            $("input[name=sex][value=0]").attr("checked", sex == 0 ? true : false);
            $("input[name=sex][value=1]").attr("checked", sex == 1 ? true : false);
            form.render();
            // layer.full(index);
            // layer.alert('编辑行：<br>'+ JSON.stringify(data))
        }else if(obj.event === 'setSign'){
            layer.prompt({
                formType: 3
                ,title: '修改 UID 为 ['+ data.uid +'] 的真实姓名'
                ,value: data.realname
            }, function(value, index){
               $.ajax({
                   type:'PUT',
                   url:'realname',
                   data:{uid:data.uid,realname:value},
                   success:function(res){
                       if(res.code==1){
                           layer.msg('更新成功',{time:1000});//1秒后自动关闭
                       }else{
                           layer.msg('更新失败');
                       }
                   }
               });
                layer.closeAll();
                //同步更新表格和缓存对应的值
                obj.update({
                    realname: value
                });
            });
        }
        if (obj.checked){
            checkedArr.push(obj.data.LAY_TABLE_INDEX);
        }
        else{
            delete checkedArr[obj.data.LAY_TABLE_INDEX];
        }

    });
    //监听性别操作
    form.on('switch(sexDemo)', function(obj){
        layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
    });
    //监听锁定操作
    form.on('checkbox(lockDemo)', function(obj){
        // console.log(this.uuid);
        // 获取当前控件
        var selectIfKey=obj.othis;
        // 获取当前所在行
        var parentTr = selectIfKey.parents("tr");
        // 获取当前所在行的索引
        var parentTrIndex = parentTr.attr("data-index");
        // console.log(tableData[parentTrIndex].status);
        var username = tableData[parentTrIndex].username;
        var uid = tableData[parentTrIndex].uid;
        var status=null;
        var msg = '';
        status = obj.elem.checked == true ? 0 : 1;
        msg = obj.elem.checked == true ? ' 已锁定' : ' 已解锁';
        $.ajax({
            type:'PUT',
            url:'lock',
            data:{uid:uid,status:status},
            success:function(res){
                if(res.code==1){
                    if(status==0){
                        tableData[parentTrIndex].status = "0";
                    }else{
                        tableData[parentTrIndex].status = "1";
                    }
                }
            }
        });
        // layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);//原始
        layer.tips('用户:'+username + msg, obj.othis);
    });


    var $ = layui.$, active = {
        getCheckData: function(){ //获取选中数据
            var checkStatus = table.checkStatus('test');
             var data = checkStatus.data;
            console.log(checkedArr);
           var delList = [];
            data.forEach(function (obj, i) {
                delList.push(obj.uid);
            });
            // uids = JSON.stringify(uids);
            if(delList){
                layer.confirm('真的要删除吗?', function(index){
                    $.ajax({
                        type:'DELETE',
                        url:'user',
                        data:"uids="+delList,
                        success:function(res){
                            if (res.code == 1) {
                                layer.msg('删除成功');
                                table.reload('test', {});//方法1
                                // $.each(checkedArr, function(k){
                                //     $(".layui-table-view .layui-table tbody  tr[data-index="+checkedArr[k]+"]").remove();
                                // });//方法2 需要设置checkedArr变量
                            } else {
                                layer.msg('删除失败');
                            }
                        },
                        error: function () {
                            layer.msg('系统错误');
                        }
                    });
                    layer.close(index);
            });
            console.log(delList);
            // // layer.alert(JSON.stringify(data));
        }
        }
        ,getCheckLength: function(){ //获取选中数目
            var checkStatus = table.checkStatus('test')
                ,data = checkStatus.data;
            layer.msg('选中了：'+ data.length + ' 个',{icon: 1});//icon 表情 0-5 共6种
        }
        ,isAll: function(){ //验证是否全选
            var checkStatus = table.checkStatus('test');
            layer.msg(checkStatus.isAll ? '全选': '未全选')
        }
        //搜索
        ,reload: function(){
            var demoReload = $('#demoReload');
             // layer.msg(demoReload.val());
            //执行重载
            table.reload('searchReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: {
                    username: demoReload.val()
                }
            });
        }
    };
  // 搜索
    $('.searchDemo .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });
    // 批量操作
    $('.demoTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });
    // 监听修改操作
    form.on('submit(editSubmit)', function(data){
        // layer.msg(JSON.stringify(data.field));
        // return false;
        $.ajax({
            url:'edit',
            type:'PUT',
            data:data.field,
            success:function (res) {
                if(res.code==1){
                    layer.msg('更新成功',{time:2000});
                    table.reload('test', {});//重新加载数据
                }else{
                    layer.msg('更新失败',{time:2000});
                }
            },
            error:function () {
                layer.msg('系统错误',{time:2000});
            }
        });
        layer.closeAll();//关闭弹出层
        return false;
    });


</script>
</body>
</html>