<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <table border="1">
       <tr>
           <td>张三</td>
           <td>李四</td>
           <td>网二</td>
           <td>麦子</td>
           <td>李四</td>
       </tr>
       <tr>
           <td>张三</td>
           <td>李四</td>
           <td>网二</td>
           <td>麦子</td>
           <td>李四</td>
       </tr>
       <tr>
           <td>张三</td>
           <td>李四</td>
           <td>网二</td>
           <td>麦子</td>
           <td>李四</td>
       </tr>
   </table>
<script type="text/javascript">
    var host = window.location.host;//获取域名
    var servername = document.domain;
    document.write("<br>host="+host);
    document.write("<br>servername="+servername);
</script>
</body>
</html>